# Set PYTHONPATH
# https://stackoverflow.com/questions/49699244/customize-module-search-path-pythonpath-via-pipenv
$ cat .env
PYTHONPATH=${PYTHONPATH}:${PWD}

# Gateway Credentials
USERNAME=
PASSWORD=

# Root Directory
ROOT_PATH=${PWD}

# Server Configurations
API_HOST=0.0.0.0
API_PORT=8000
API_RELOAD=TRUE
API_WORKERS=2

