ENV=local

WORKDIR=${PWD}
DATA_DIR=${WORKDIR}/data


PORT=88


# Python
PYTHONUNBUFFERED=1


# Pipenv
PIPENV_VENV_IN_PROJECT=1


# https://stackoverflow.com/questions/49699244/customize-module-search-path-pythonpath-via-pipenv
PYTHONPATH=${PYTHONPATH}:${PWD}
