[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
dacite = "*"
pyaml = "*"
python-dotenv = "*"
pydantic = "*"

[dev-packages]
pytest = "*"

[requires]
python_version = "3.10"
